// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.log-in-form, #user-form,  #new_user{
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin:auto;
  margin-top: 8%;
  margin-bottom: 70px;
  width: 300px;
  padding: 50px 30px;
  background-color:white;
  opacity: 0.8;
  text-align: center;
  height:100%;
  z-index:20;
  position:relative;

}

#user-form, .log-in-form {
  bottom:500px;
}

#new_user {
  bottom:700px;

}

.sign-up-form  {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin:auto;
  margin-top: 8%;
  margin-bottom: 70px;
  width: 300px;
  padding: 50px 30px;
  background-color:white;
  opacity: 0.8;
  text-align: center;
  height:100%;
  z-index:20;
  bottom:500px;
}

.new_user {
  bottom: 10px;
right: 10%;
}

.log-in-page, .sign-up-page{
  width:105%;
  height:700px;
  content: url('https://assetcdn.500px.org/assets/photos/discovery_1200-6320000a7c93bf8c7d90431d048a9221.jpg');
  top:200px;


}

input {
  border-radius: 3px;
  font-size: 15px;
  padding: 5px 8px;
  cursor: pointer;
  color: black;
  background-color: lightgray;
  font-family: 'Open Sans', sans-serif;
  border: 0.2px solid #fff;
  box-shadow: 2px 2px 5px white;
  transition-duration: 0.5s;
}

.field {
  padding:7px;
}
.userinfo {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  display:block;
  background-color: white;
  padding: 3em;
  margin: 0;
  height: 10px;
  position: relative;
  overflow: hidden;
  line-height: 1;
  width:100%;
  top:20px;

}

a.userinfo:visited {
  color:white;

}

html, body {
    padding: 0;
    margin: 0;
    border: 0;

}
 a {
   text-decoration: none;
 }
